{% paginate search.results by 10 %}
{% include 'nov-breadcrumb' %}
<div class="page-width">
  <div class="container">
    {% if search.results_count == 0 or search.performed == false %}
      <div class="empty-page-content text-center">
        <h1 class="h2">{{ 'general.search.title' | t }}</h1>
    {% else %}
      <div class="section-header text-center">
        <h1 class="h2">{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</h1>
    {% endif %}
      <div class="grid">
        <div class="grid__item medium-up--two-fifths medium-up--push-three-tenths">
          <form action="/search" method="get" role="search" class="search">
            <div class="input-group">
              <input type="search"
                id="SearchInput"
                class="form-control input-group__field search__input"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="{{ 'general.search.placeholder' | t }}"
                aria-label="{{ 'general.search.placeholder' | t }}"
                autofocus>
              <span class="input-group__btn">
                <button class="btn search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
              </span>
            </div>
          </form>
        </div>
      </div>

      {% if search.performed and search.results_count == 0 %}
        <hr class="hr--small hr--invisible">
        <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
      {% endif %}
    </div>
    {% if search.performed %}
      {% if search.results_count > 0 %}
        <hr>
      {% endif %}
      
        <div class="list-view-items">
          {% for item in search.results %}
            <a href="{{ item.url }}" class="list-view-item">
              {% if item.object_type == 'product' %}
                {% include 'product-card-list', product: item %}
                {% elsif item.object_type == 'article' %}
                  <div class="item-blog d-flex d-xs-block blog--list-view">
                    <div class="article--listing media">
                      <div class="article__thumnail">
                        <img class="img-fluid article__list-image" src="{{ item.image.src | img_url: 'original' }}" alt="{{ item.title }}"/>
                      </div>
                      <div class="article__info ml-30 ml-xs-0 mb-30">
                        <div class="article__title"><a href="{{ item.url }}">{{ item.title }}</a></div>
                        <span class="article__date">
                          {{ item.published_at | time_tag: format: 'month_day_year' }}
                        </span>
                        <span class="article__countcomment">
                          {{ 'blogs.comments.comments_with_count' | t: count: item.comments_count }}
                        </span>
                        <span class="article__author">{{ item.author }}</span>
                        <div class="article__excerpt mt-30">
                          {% if item.excerpt.size > 0 %}
                            {{ item.excerpt }}
                          {% else %}
                            {{ item.content | strip_html | truncate: 235 }}
                          {% endif %}
                        </div>
                        {% comment %}<a href="{{ item.url }}" class="article__readmore">{{ 'blogs.article.view_more' | t }}</a>{% endcomment %}
                      </div>
                    </div>
                  </div>
              {% else %}
                {% if item.image %}
                  <div class="list-view-item__image-column w-50 w-xs-100 pr-15 pl-0 pr-xs-0 pl-xs-0">
                    <div class="list-view-item__image-wrapper mb-xs-25">
                      <img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
                    </div>
                  </div>
                {% endif %}

                <div class="list-view-item__title-column">
                  <h2 class="list-view-item__title">{{ item.title }}</h2>
                  <div class="">
                    {% if item.published_at %}{{ item.published_at | date: "%b %d, %Y" }} &#8212; {% endif %}
                    {{ item.content | strip_html | truncate: 200 }}
                  </div>
                </div>
              {% endif %}
            </a>
          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      
    {% endif %}
  </div>
</div>



{% endpaginate %}
